@use 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    color: variables.$black-color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Css Scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// all hbs files
.btn-action {
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 40px;
    color: variables.$text-primary;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #7f00ff;
    }
}

.status {
    padding: 10px 0;
    border-radius: 50px;
}

.pending {
    background: #fff6dc;
}

.paid {
    background-color: rgba(17, 148, 247, 0.12) !important;
    color: #2196f3 !important;
}

.cancel {
    background-color: rgba(255, 218, 218, 0.49) !important;
    color: #ff0000 !important;
}

//header.hbs
.navbar-brand {
    font-size: 2.8rem;
    margin-right: 40px;
}

.navbar-toggler-icon {
    font-size: 2rem;
}

.offcanvas-header {
    .user-avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .offcanvas-title {
        font-size: 1.8rem;
        color: variables.$white-color;
    }

    .btn-close-white {
        font-size: 1.6rem;
    }
}

.nav-item {
    line-height: 1.8;
    padding-left: 12px;
    transition: all 0.3s ease-in-out;

    // &:hover {
    //     background: #3a4857;
    //     border-radius: 20px;
    // }

    i {
        width: 30px;
        text-align: center;
        font-size: 1.6rem;
    }

    .nav-link {
        font-size: 1.6rem;
        color: variables.$white-color;
    }
}

.header-icon-img {
    width: 30px;
    height: 16px;
    margin-right: 15px;
    font-weight: 500;
}

.dropdown-item.readed {
    background-color: #f2edf3;
    color: variables.$black-color;
}

.dropdown-menu .link-chat {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.45rem;
    color: var(--bs-heading-color);
    transition: color 0.3s ease-in-out;

    &:hover {
        text-decoration: underline;
        color: variables.$text-primary;
    }
}

//home.hbs
.img-product {
    width: 60px;
    height: 60px;
}

.list-products {
    height: calc(89vh - variables.$height-header + variables.$height-footer);
    background-color: rgb(220, 220, 220);
    // margin: variables.$height-header 0 variables.$height-footer 0;
}

.tables-border {
    overflow: hidden;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding: 10px;
    background-color: variables.$white-color;
}

.table-products {
    max-height: calc(80vh - variables.$height-header);
    overflow-y: auto;
}

.table-manage {
    max-height: 100%;
    overflow-y: auto;
}

.tables-header {
    display: flex;
    flex-direction: column;
    margin: 5px 0 20px 10px;

    h3 {
        font-size: 2rem;
    }

    span {
        line-height: 1.8;
        font-size: 1.4rem;
    }
}

.table {
    th {
        font-size: 1.5rem;
    }

    td {
        font-size: 1.4rem;
        cursor: pointer;

        .home-avatar {
            width: 42px;
            height: 42px;
        }
    }
}

//products/show.hbs
.product-detail-img {
    width: 353px;
    height: 221px;
}

//me/stored-products.hbs
.list-stored-products {
    margin-top: variables.$height-header;
    height: calc(95vh - variables.$height-footer);
    background-color: rgb(220, 220, 220);
}

.table-img {
    width: 100px;
    height: 100px;
}

.table-name {
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.table-description {
    width: 347px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.stored-products-header {
    margin: 0 50px;

    i,
    span {
        font-size: 1.6rem;
        padding-left: 10px;
    }

    i {
        color: red;
    }

    .form-select {
        font-size: 1.6rem;

        &:focus {
            border: 1px solid #dee2e6;
            outline: none;
            box-shadow: none;
        }

        option {
            font-size: 1.6rem;
        }
    }
}

.icon-sort {
    color: rgb(121, 248, 82);
}

.form-input {
    display: flex;
    align-items: center;
    background: variables.$white-color;
    width: 420px;
    padding: 4px 8px;
    border: none;
    border-radius: 40px;

    i {
        color: #999;
        font-size: 1.8rem;
    }

    .form-control {
        border: none;
        font-size: 1.4rem;
        color: variables.$black-color;

        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }
}

//products/create.hbs
.form-create {
    margin-top: variables.$height-header;
}

.form-label {
    font-size: 1.8rem;
    font-weight: 500;
}

.form-description {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.form-control {
    font-size: 1.7rem;

    &:focus {
        outline: none;
        border: 1px solid #dee2e6;
        box-shadow: none;
    }
}

.show-img {
    width: 250px;
    height: 250px;
}

/* From Uiverse.io by vishnupprajapat */
.checkbox-wrapper-46 input[type='checkbox'] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}

//products/genderCreate.hbs and products/sizeCreate.hbs and products/colorCreate.hbs
.container .no-data {
    a,
    td {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2;
    }

    a {
        position: relative;
        color: rgb(65, 137, 104);
    }

    i {
        font-size: 2.6rem;
        position: absolute;
        bottom: 0;
        right: -25px;
        animation: downUp 0.3s linear infinite alternate;
    }
}

.menu-breadcrumb .breadcrumb-item {
    cursor: pointer;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
}

.menu-breadcrumb .breadcrumb-item.active {
    box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    border-radius: 4px;
    padding: 0px 10px;
}

.menu-breadcrumb .breadcrumb-item a {
    color: variables.$black-color !important;
    text-decoration: none;
}

.menu-breadcrumb .breadcrumb-item.active a {
    color: variables.$white-color !important;
}

@keyframes downUp {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 6px;
    }
}

//products/edit.hbs
.edit-img {
    max-width: 200px;
    max-height: 200px;
}

//me/stored-shops.hbs
.table-img-shop {
    width: 100px;
}

.select2-container--default .select2-selection--multiple {
    border: none !important;
}

//me/trash-shops.hbs and me/stored-products.hbs
.content-wrapper {
    .trash-header {
        margin: 0 0 40px 60px;

        a {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 10px;
            color: #999;
        }
    }
}

.trash {
    font-size: 1.8rem;

    i {
        color: red;
    }

    span {
        font-size: 1.6rem;
    }
}

//Footer.hbs
// footer {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     div {
//         background-color: rgba(0, 0, 0, 0.05);
//         font-size: 1.6rem;
//     }
// }

// Confirm detele
.modal-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.modal-body {
    font-size: 1.5rem;
}

.btn {
    font-size: 1.6rem;
}

//Validation errors
.validate {
    display: block;
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 10px;
}

//Admin/login.hbs
.auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/bg-login.png') no-repeat;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .form-group {
        margin-bottom: 10px;

        label {
            font-size: 1.8rem;
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
            font-size: variables.$black-color;
        }

        input {
            width: 100%;
            padding: 8px;
            font-size: 1.6rem;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            background: transparent;

            &:focus-visible {
                outline: none;
            }
        }
    }

    .form-password,
    .form-email {
        position: relative;

        i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            margin-left: 10px;
            cursor: pointer;
            font-size: 1.4rem;
        }
    }

    .form-password i {
        color: #736969;
    }

    .form-email {
        #emailError {
            color: red;
            display: none;
        }

        #emailSuccess {
            color: lime;
            display: none;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .submit-btn {
        font-size: 1.6rem;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: orangered;
        color: variables.$white-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: coral;
        }
    }

    p {
        font-size: 1.6rem;
        margin-top: 15px;

        a {
            color: orangered;

            &:hover {
                color: coral;
            }
        }
    }
}

// orders/create.hbs
.container-fluid {
    .name-create-invoice {
        font-size: 2.8rem;
        font-weight: 500;
    }

    .row {
        .form-group {
            label {
                font-size: 1.5rem;
                font-weight: 500;
            }
            .input-group {
                border-radius: 40px;
                overflow: hidden;

                .success,
                .error {
                    display: none;
                }
            }
        }
    }

    .container-table {
        margin-top: 30px;
        padding: 0px;

        .table {
            thead,
            tbody {
                tr {
                    .w-90 {
                        width: 90px;
                        max-width: 100%;
                    }
                    .p-10 {
                        padding: 10px;
                    }
                }
            }
            .table-primary {
                --bs-table-bg: #b66dff;
                box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
            }

            thead {
                tr {
                    th {
                        color: variables.$black-color;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: variables.$text-primary;
                        .form-select {
                            font-size: 1.4rem;
                        }
                        input {
                            font-size: 1.4rem;
                        }

                        i {
                            color: variables.$text-primary;
                            padding: 7px;
                            width: 100%;
                            font-size: 1.6rem;
                            cursor: pointer;
                            transition: color 0.3s ease-in-out;

                            &:hover {
                                color: #0391e8;
                            }
                        }
                    }
                }
            }
        }
    }

    .row {
        .form-group {
            .form-textarea {
                textarea {
                    padding: 10px;
                    font-size: 1.4rem;
                    border-radius: 5px;
                    border: none;
                }
            }
        }

        .col-item {
            font-size: 1.4rem;
            margin-bottom: 30px;
            .input-group {
                border-radius: 40px;
                overflow: hidden;
            }
            .money-bill {
                color: variables.$black-color !important;
            }
            .label-item {
                font-weight: 500;
                color: #7f7d7d;
            }

            .money-item {
                color: variables.$black-color;
            }
        }
    }

    .btn {
        font-size: 1.4rem;
    }

    .btn-cancel {
        border: 1px solid variables.$text-primary;
        color: variables.$text-primary;
        margin-right: 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: variables.$text-primary;
            color: variables.$white-color;
        }
    }

    .btn-create {
        background: variables.$text-primary;
        color: variables.$white-color;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow:
                3px 3px variables.$text-primary,
                -1em 0 0.4em variables.$text-primary;
        }
    }
}

// orders/show.hbs
.container-fluid {
    .name-shop {
        color: variables.$text-primary;
    }
    .row {
        .bg-invoice-tables-last {
            background: variables.$text-primary;
        }

        .bg-invoice-table {
            box-shadow: rgba(56, 65, 74, 0.15) 0px 1px 2px;

            .card-body {
                color: variables.$black-color;
                display: flex;
                justify-content: space-between;
                padding: 20px;

                .card-body-invoice {
                    font-size: 1.6rem;
                    font-weight: 500;
                    .card-content {
                        justify-content: flex-start;
                        margin: 0 0 2px 0;

                        .card-data {
                            font-size: 2.4rem;
                            margin-right: 0;
                        }

                        .card-unit {
                            font-size: 1.2rem;
                            font-weight: 700;
                            line-height: 2.3;
                        }
                    }

                    .card-stats {
                        display: flex;
                        align-items: center;
                        margin-top: 15px;

                        .card-amount,
                        .card-amount-cancel {
                            font-size: 1.3rem;
                            font-weight: 500;
                            line-height: 1;
                            padding: 4px 8px;
                            margin-right: 5px;
                            border-radius: 6px;
                        }

                        .card-amount {
                            background: variables.$text-primary;
                            color: variables.$white-color;
                        }

                        .card-amount-cancel {
                            background: linear-gradient(to right, #d3fff4, #da93f8);
                            color: variables.$black-color;
                        }

                        .card-amount-unit {
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                    }
                }

                .avatar-sm {
                    height: 4.6rem;
                    width: 4.6rem;

                    .avatar-title {
                        font-size: 2.8rem;
                        align-items: center;
                        color: #fff;
                        display: flex;
                        font-weight: 500;
                        height: 100%;
                        justify-content: center;
                        width: 100%;

                        svg {
                            color: variables.$text-primary;
                        }
                    }
                }
            }
        }
    }

    .form-search {
        .form-control {
            border-radius: 40px;
        }
    }

    .menu-invoices {
        .card-header {
            font-size: 1.6rem;
            i {
                color: variables.$text-primary;
            }
        }
        .card-table {
            .table {
                position: relative;
                z-index: 1;
                thead tr th,
                tfoot tr th {
                    font-size: 1.3rem;
                }
                tfoot tr th {
                    color: #999;
                }

                tbody {
                    tr td {
                        font-size: 1.4rem;
                    }

                    .img-user {
                        height: 40px;
                        border-radius: 50%;
                        mix-blend-mode: multiply;
                    }

                    .bg-more {
                        display: flex;
                        justify-content: center;
                        background: variables.$text-primary;
                        border-radius: 50%;
                        padding: 3px;
                        position: absolute;
                        top: 50%;
                        left: 8px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }

                    .status-invoice {
                        display: block;
                        padding: 5px 0;
                        margin-top: 5px;
                        border-radius: 50px;
                    }

                    .pending {
                        background: #fff6dc;
                    }

                    .paid {
                        background-color: rgba(17, 148, 247, 0.12) !important;
                        color: #2196f3 !important;
                    }

                    .cancel {
                        background-color: rgba(255, 218, 218, 0.49) !important;
                        color: #ff0000 !important;
                    }
                }
            }

            .paginate {
                nav {
                    div {
                        p {
                            font-size: 1.3rem;
                            margin-right: 15px;
                        }
                    }

                    .pagination {
                        .page-item {
                            .page-link {
                                padding: 4px 8px;
                                font-size: 1.4rem;
                            }
                        }
                        .page-item.active > .page-link {
                            background: variables.$text-primary;
                        }
                    }
                }
            }
        }

        #tooltip {
            display: none;
            position: absolute;
            background: variables.$white-color;
            box-shadow: -2px 2px 16px -1px rgba(73, 61, 61, 1);
            color: white;
            margin-top: 7px !important;
            border-radius: 4px;
            font-size: 14px;
            white-space: nowrap;
            z-index: 9999 !important;
            opacity: 1;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: variables.$black-color;

                li {
                    border-bottom: 1px solid #f0f0f0;
                    transition: all 0.3s ease-in-out;

                    a {
                        display: block;
                        padding: 10px 25px;
                    }

                    &:hover {
                        background: #f0f0f0;
                    }

                    i {
                        color: variables.$text-primary;

                        &:hover {
                            color: rgb(72, 176, 241);
                        }
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .form-search {
        margin: 20px 0;
        .form-control {
            font-size: 1.6rem;
        }
        button {
            font-size: 1.4rem;
            color: variables.$white-color;
            border: none;
            background: variables.$text-primary;
        }
    }
}

//orders/detail.hbs
.container-fluid {
    .row {
        .header-invoice-detail {
            border-bottom: 1px solid #e5e7eb;
            padding-bottom: 5px;
        }
        .info-store {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }

            .name-shop {
                font-size: 1.5rem;
            }
        }
        .info-paid {
            font-size: 2.6rem;
            font-weight: 500;
        }

        .paid {
            color: #2196f3 !important;
        }

        .cancel {
            color: #ff0000 !important;
        }

        .time-invoice-detail {
            border-bottom: 1px solid #e5e7eb;
            padding: 10px 5px;
            margin: 0px;

            .header-date {
                .title-date {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #999;
                    margin-right: 10px;
                }

                .date {
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                .title-id {
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-right: 10px;
                }

                .id {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #b66dff;
                }
            }
        }

        .info-invoice-detail {
            border-bottom: 1px solid #e5e7eb;
            padding: 30px 5px;
            margin: 0px;

            .info-to {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                h3 {
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #b66dff;
                    margin: 0 0 5px 30px;
                }

                span {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #999;
                    margin-left: 9px;
                }
            }
        }

        .list-products-invoice {
            padding: 0 5px;
            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                color: #b66dff;
                margin: 20px 0;
            }
            .container-table {
                .table {
                    thead tr th,
                    tfoot tr th {
                        font-size: 1.3rem;
                    }
                    tbody {
                        tr td {
                            font-size: 1.2rem;
                            line-height: 4;

                            .name-short {
                                width: 300px;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: normal;
                            }
                        }

                        .img-user {
                            height: 40px;
                            border-radius: 50%;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }

            .footer-table {
                padding: 10px;
                margin-top: 40px;
                border: 1px solid #e5e7eb;
                border-radius: 10px;

                div {
                    .footer-label-table {
                        color: #999;
                    }
                    span {
                        font-size: 1.3rem;
                        font-weight: 500;
                        strong {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    .col-right {
        padding: 30px;
        background-color: #f6f6f6;
        box-shadow: -1px 3px 8px -1px rgb(215 212 212);
        height: 100%;
        max-height: 625px;

        .form-label {
            font-size: 1.3rem;
            font-weight: 500;
        }

        .payment-details {
            margin: 20px 0;
            span {
                font-size: 1.5rem;
                font-weight: 500;

                strong {
                    font-size: 1.4rem;
                    color: #b66dff;
                }
            }
        }

        .timeline-invoices {
            span {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 10px;
                display: block;
            }
            .container-timeline {
                height: 390px;
                overflow-y: scroll;

                .timeline-1 {
                    border-left: 3px solid #d4d4d4;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    background: transparent;
                    margin-left: 116px;
                    position: relative;
                    padding: 17px 20px;
                    list-style: none;
                    text-align: left;
                    max-width: 100%;
                }

                @media (max-width: 767px) {
                    .timeline-1 {
                        max-width: 98%;
                        padding: 25px;
                    }
                }

                .timeline-1 .event {
                    border-bottom: 1px dashed #b66dff;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    position: relative;

                    a {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #b66dff;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline !important;
                            color: #b66dff;
                        }
                    }

                    p {
                        font-size: 1.2rem;
                        color: #999;
                    }
                }

                @media (max-width: 767px) {
                    .timeline-1 .event {
                        padding-top: 30px;
                    }
                }

                .timeline-1 .event:last-of-type {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border: none;
                }

                .timeline-1 .event:before,
                .timeline-1 .event:after {
                    position: absolute;
                    display: block;
                    top: 0;
                }

                .timeline-1 .event:before {
                    left: -177px;
                    content: attr(data-date);
                    text-align: right;
                    font-weight: 100;
                    font-size: 0.9em;
                    min-width: 120px;
                }

                @media (max-width: 767px) {
                    .timeline-1 .event:before {
                        left: 0px;
                        text-align: left;
                    }
                }

                .timeline-1 .event:after {
                    -webkit-box-shadow: 0 0 0 3px #b66dff;
                    box-shadow: 0 0 0 3px #b66dff;
                    left: -25.8px;
                    background: #fff;
                    border-radius: 50%;
                    height: 9px;
                    width: 9px;
                    content: '';
                    top: 5px;
                }

                @media (max-width: 767px) {
                    .timeline-1 .event:after {
                        left: -31.8px;
                    }
                }
            }
        }
    }

    .signature-user {
        span:first-child {
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
        span:last-child {
            font-family: 'Pacifico', cursive;
            font-size: 4rem;
        }
    }
}

//chat/show.hbs
#chat-form {
    display: none;
}

#message-items {
    height: 300px;
    max-height: 100%;
    overflow-y: scroll;
}

.ctext-wrap,
.list-inline-item {
    .dropdown {
        .dropdown-toggle::after {
            display: none !important;
        }
    }
}
.list-inline-item {
    .nav-btn:active {
        border: none;
    }
    .nav-btn.show {
        border: none;
    }
}
.owl-carousel {
    .item {
        .user-status-box {
            background-color: #e6ebf5;
            padding: 8px;
            border-radius: 8px;
            text-align: center;
            margin-top: 16px;
            display: block;

            h5 {
                color: #343a40;
            }
        }
    }
}

.unread-message {
    .badge-soft-danger {
        color: #ef476f;
        background-color: rgba(239, 71, 111, 0.18);
    }
}

// /campaigns
.form-select:focus {
    box-shadow: none !important;
}

// /campaigns/manage-products.hbs
.content-wrapper {
    .container-fluid {
        .table {
            .manage-product-name {
                width: 100px;
                max-width: 100%;
                white-space: normal;
            }
        }
    }
}
